!!!5
%head
  %title Austin Putman, Engineering Leader
  %link{ :rel => 'stylesheet', :href => '/resource/stylesheets/cv.css',   :media => 'screen, projection, print' }


%body
  .container
    #header.vcard
      %h1.fn.grid_8 Austin Putman
      #contact-info

        .tel
          %span.type> mobile
          \:
          %span.value
            :plain
              <script type="text/javascript">
              //<![CDATA[
              <!--
              var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
              "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
              " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!46{)rt{y+xx=l;=+;" +
              "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
              "\"(6),9\\\"\\\\28):\\\\\\\\\\\\\\\\OKMMKTB@DXGBXS01\\\\02\\\\00\\\\\\\\10\\" +
              "\\00\\\\03\\\\\\\\02\\\\00\\\\03\\\\\\\\36\\\\0F\\\\23\\\\00\\\\01\\\\\\\\0" +
              "0\\\\0t\\\\\\\\\\\\26\\\\01\\\\00\\\\\\\\16\\\\04\\\\00\\\\\\\\\\\"\\\\f(;}" +
              " ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)6+(9i" +
              ">f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\"+
              "\"\")"                                                                       ;
              while(x=eval(x));
              //-->
              //]]>
              </script>


        .email
          %span.type> email
          \:
          %span.value
            :plain
              <script type="text/javascript">
              //<![CDATA[
              <!--
              var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
              "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
              " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!36{)rt{y+xx=l;=+;" +
              "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
              "\"(5)11\\\\,f\\\"`l{s6fiy<97117\\\\\\\\?#9'.>'-!!$13600\\\\\\\\(,L4\\\\K\\\\"+
              "\\\\2\\\\00\\\\\\\\31\\\\0f\\\\33\\\\0d\\\\\\\\nS\\\\@YFZ21\\\\02\\\\02\\\\" +
              "\\\\CsOB05\\\\0Y\\\\AYTSC@KMWGl~r]nrmj,v`z77\\\\1{\\\\}pR-j0xn(a:f,'nmtd27\\"+
              "\\07\\\\01\\\\\\\\13\\\\0U\\\\16\\\\07\\\\02\\\\\\\\35\\\\02\\\\03\\\\\\\\0" +
              "3\\\\06\\\\02\\\\\\\\33\\\\07\\\\02\\\\\\\\\\\"\\\\f(;} ornture;}))++(y)^(i" +
              "AtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%i;+=)y15=1i=f({i+)i+l;i<0;i=r(foh" +
              ";gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                 ;
              while(x=eval(x));
              //-->
              //]]>
              </script>


        .twitter
          %a{href: "https:/twitter.com/austinfrmboston"} @austinfrmboston
        .adr
          %span.locality Berkeley
          %span.region CA

      .clear

      #summary.section
        %h2.offset_header Summary
        .summary_text
          .big-idea
            I bring good ideas to life.

          .idea
            As an enthusiastic craftsman,
            my work should be a joy to use.
          .idea
            As a mentor and collaborator,
            I embrace honest dialog to achieve the best results.
          .idea
            As an agile professional, I
            rapidly deliver value for the project.

        .clear

      #skills.section
        %h2 Skills
        %dl#skills
          .list_block
            %dt Ruby/Rails
            %dd#ruby
              rails 2/3/4/5, capistrano, arel, rack, 
              carrierwave, omniauth, devise and plenty of others
            .clear

          .list_block
            %dt Languages
            %dd#languages
              Ruby, PHP, Javascript, Python, SQL
            .clear

          .list_block
            %dt Testing
            %dd#testing
              RSpec, capybara, phantomjs, mocha, Jasmine, Jenkins, travis
            .clear

          .list_block
            %dt Technologies
            %dd#tech
              postgresql, mySQL, git, Nginx, Apache, redis, AWS, elasticsearch, varnish, node.js, vim, RubyMine
            .clear

          .list_block
            %dt Browser-Based Tools
            %dd#browser-based
              React, HTML5, CSS3, Sass, single-page apps, mobile webkit, cache manifest, JSON
            .clear

          .list_block
            %dt Management
            %dd#management
              Build a collaborative and effective engineering team;
              interview, train and assess developers; keep engineers focused on business requirements
            .clear

      #experience.section
        %h2 Employment

        %dl#positions
          .list_block
            %dt
              .timespan
                2016-present
              .employer
                Omada Health
              .location
                San Francisco CA
            %dd
              .position Senior Software Engineer
              .idea
                Mentor junior engineers and support engineering teamwork
              .idea
                Bring teams together to deliver great business results
            .clear
          .list_block
            %dt
              .timespan
                2015-2016
              .employer
                Hillary For America
              .location
                Brooklyn NY
            %dd
              .position Senior Software Engineer
              .idea
                Manage transition of petascale databases to cloud hardware
              .idea
                Create and manage APIs for voter outreach
            .clear
          .list_block
            %dt
              .timespan
                2012-2015
              .employer
                Omada Health
              .location
                San Francisco CA
            %dd
              .position VP of Engineering
              .idea
                Build a startup team focused on rapid delivery and user value
              .idea
                Evaluate and hire vendors to support our in-house team
              .idea
                Promote our work and our people in the wider technical community
              .idea
                Use secret-weapon coding to support business goals and metrics
            .clear
          .list_block
            %dt
              .timespan
                2010-2012
              .employer
                Pivotal Labs
              .location
                San Francisco CA
            %dd
              .position Software Engineer
              .idea
                Build and retool web applications for clients.
              .idea
                Train and collaborate with client staff on building products and exploring new technologies.
              .idea
                Rapidly learn unfamiliar platforms and technologies.
              .idea
                Anchor projects and handle most communication between clients and Pivotal staff.
              .idea
                Introduce agile processes to client project management staff and developers.
              .idea
                Support process changes to address pain points in the development cycle.
            .clear

          .list_block
            %dt
              .timespan
                2004-2010
              .employer
                Radical Designs
              .location
                San Francisco CA
            %dd
              .position Partner, Lead Developer, Systems Architect
              .idea
                Lead technologist and partner in a small firm serving progressive, community-based nonprofits. 
              .idea
                Gathered requirements, estimated costs, set timelines and pair-programmed on client projects.
              .idea
                Resolved client issues, added features and maintained systems for hundreds of projects.
              .idea
                Produced open source libraries from in-house work when appropriate.

              .idea
                Implemented Agile development methods for a 3 person team:
                daily scrum, story cards, retrospectives, pairing, behavior-driven development, powers-of-2 estimation.

              .idea
                Scaled our tools using caching and distributed architecture

              .idea
                Mentored developers in all aspects of web technology,

              .idea
                Continued support for our flagship CMS, which I overhauled and expanded.

              .idea
                Trained production staff and clients in how to use and extend their CMS.

              .idea
                Engaged in extensive monitoring, research and tinkering to guide technology adoption decisions.

            .clear


      #volunteering.section
        %h2 Volunteer
        %ul.volunteering
          .clear
          %li
            2010-2013,
            Railsbridge,
            Teacher &amp; Treasurer
      #education.section
        %h2 Education
        %ul#education
          .clear
          %li
            1996-2000, 
            Tufts University, 
            International Relations

          %li 
            2006-2007, 
            California State University, East Bay, 
            Liberal Studies

      #gallery-block.section
        %h2 Gallery
        #gallery.example_block
          %p I've worked at scale with these customers
          .details_block
            .detail
              %a{ :href => 'http://www.universalmusic.com/' }
                %img{ :src => '/resource/images/emi_logo.png' }
              .clear
              %a{ :href => 'http://www.universalmusic.com/' }
                EMI (now Universal)
              .clear
            .detail
              %a{ :href => 'http://www.att.com/' }
                %img{ :src => '/resource/images/att_logo.png' }
              .clear
              %a{ :href => 'http://www.att.com/' }
                AT&amp;T
              .clear
            .detail
              %a{ :href => 'http://www.chow.com/' }
                %img{ :src => '/resource/images/chow_logo.png' }
              .clear
              %a{ :href => 'http://www.chow.com/' }
                Chow
              .clear
        .clear
        %p &nbsp;
        #gallery.example_block
          %p Some open-source client projects I bottom-lined or paired on:
          .details_block
            .detail
              %a{ :href => 'http://github.com/radicaldesigns/rockwood' }
                %img{ :src => '/resource/images/rockwood.png' }
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/rockwood' }
                Workshop Registration and Peer Evaluation
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/rockwood' } source

            .detail
              %a{ :href => 'http://github.com/radicaldesigns/gogreen' } 
                %img{ :src => '/resource/images/gogreen.png' }
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/gogreen' } 
                Kids Cutting Down CO2
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/gogreen' } 
                source

            .detail
              %a{ :href => 'http://github.com/radicaldesigns/cpl-data' }
                %img{ :src => '/resource/images/cpl.png' }
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/cpl-data' } Dabble to Salsa data sync

            .detail
              %a{ :href => 'http://github.com/radicaldesigns/la-elected' }
                %img{ :src => '/resource/images/artsforla.png' }
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/la-elected' } Track local elected officials

            .detail
              %a{ :href => 'http://github.com/radicaldesigns/democracy_in_action' }
                %img{ :src => '/resource/images/salsa.png' }
              .clear
              %a{ :href => 'http://github.com/radicaldesigns/democracy_in_action' } Salsa CRM API for Ruby

          .clear

      #footer.section
        :plain
          <a href="http://stackoverflow.com/users/117743/austinfromboston">
          <img src="http://stackoverflow.com/users/flair/117743.png" width="208" height="58" alt="profile for austinfromboston at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for austinfromboston at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
          </a>
        .clear
        %p &nbsp;

        %p.detail
          composed in vim
